<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731128991571-8dgtmueivcrj6keugclte7l04ehtlugp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731128991571-8dgtmueivcrj6keugclte7l04ehtlugp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>731128991571-0ktgehke1gkr1j4n8t0m4ij63otj6j2b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbLwxojmRuzBl4Tt6E2uHKrvVfPO9E-ww</string>
	<key>GCM_SENDER_ID</key>
	<string>731128991571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voiceofjuan.app</string>
	<key>PROJECT_ID</key>
	<string>voiceofjuan-a9773</string>
	<key>STORAGE_BUCKET</key>
	<string>voiceofjuan-a9773.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731128991571:ios:4075572ea7e3a5ae6d1ba6</string>
</dict>
</plist>